.menu {
                display: flex;
                flex-wrap: nowrap;
                justify-content: start;
                margin: 0 0.2vw;
                background-color: black;
            }
            .menu .menu-item {
                text-align: center;
                padding: 0.5vw;
                margin: 0 0.5vw;
                border-right: white thin solid;
                color: white;
                text-decoration: none;
            }

            .menu-item:first-of-type {
                background: green;
            }

.gallery {
                display: grid;
                width: 90%;
                height: 40vh;
                margin: 1vw auto;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(3, 1fr);
            }
            .gallery img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
            .gallery > div {
                overflow: hidden
            }
            .gallery > .img1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .gallery > .img2 {
                grid-area: 2 / 1 / 3 / 2;
            }
            .gallery > .img3 {
                grid-area: 1 / 2 / 3 / 4;
            }
            .gallery > .img4 {
                grid-area: 3 / 1 / 4 / 4;
            }



.icons{display: grid;
justify-content: space-between;
width: 70%;
grid-template-columns: repeat(6, min-content);
margin: 5px auto;
align-content: center;}
.icon-item{
    width: 100px;
    height: 150px;
    overflow: hidden;
}
.icon{border-radius: 50%;
    overflow: hidden;
max-height: 50px;
width: 90px;}

.icon img{object-fit: fill;
width: 100%;
height: 100%;}


.container {
                display: flex;
                width: 90%;
                max-height: min-content;
                margin: 1vw auto;
                flex-direction: column;
            }


            .container > .block1 {
                align-self: flex-start;
                max-width: 70%;
                border: solid thin lightblue;
                border-radius: 20px;
                background-color: pink;
                
            }
            .container > .block2 {
                align-self: flex-end;
                max-width: 70%;
                border: solid thin lightpink;
                border-radius: 20px;
                background-color: pink;
            }
            .container > .block3 {
                width:90%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                border: solid thin lightgrey;
                border-radius: 20px;
            }
            .block3:first-child{
                align-self: flex-start;
                border-radius: 20px;
            }
            .block3:last-child{
                align-self: flex-end;
                border-radius: 20px;
            }

            .big-block {
                max-width: 40%;
                height: 100%;
                text-align: center;
                background-color: pink;
            }
            .big-block p {
                text-align: justify;
                margin: 0 0.5vw;
            }
            .big-block img {
                width: 95%;
                max-height: 30vh;

                object-fit: fill;
                overflow: hidden;
                border-radius: 20px;
                margin-top: 0.5vw;
            }
            .big-block [type="button"] {
                float: right;
                background: lightskyblue;
                border: solid thin black;
                border-radius: 5px;
                color: white;
            }

            .wide-block {
                width: 98%;
                height: 19.5%;
                margin: 0.2vw auto;
                padding: 1vw;
            }
            .wide-block p {
                text-align: justify;
            }
            .wide-block img {
                width: 45%;
                max-height: 15vh;
                overflow: hidden;
                object-fit: fill;
                border-radius: 20px;
                margin-left: 1vw;
            }
            .wide-block a {
                float: left;
                margin: 0.5vw;
                color: brown;
            }
            .wide-block [type="button"] {
                float: right;
                background: lightskyblue;
                border: solid thin black;
                border-radius: 5px;
                color: white;
            }

            
	
.footer {
	display: flex;
	justify-content: center;
}
            footer p {
                margin: 0 5vw;
            }

             @media (max-width: 600px) {
                * {
                    font-size: 1em;
                }
                .menu {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                .menu .menu-item {
                    width: 50%;
                    box-sizing: border-box;
                    margin: 0.5vw 0;
                }

                .gallery {
                    height: 80vh;
                    grid-template-rows: repeat(4, 1fr);
                    grid-template-columns: 1fr;
                }
                .gallery > .img1 {
                    grid-area: 1 / 1;
                }
                .gallery > .img2 {
                    grid-area: 2 / 1;
                }
                .gallery > .img3 {
                    grid-area: 3 / 1;
                }
                .gallery > .img4 {
                    grid-area: 4 / 1;
                }

                .icons{display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .container {
                    width: 80%;
                    height: auto;
                    margin: 1vw auto;
                    padding: 5px 0px;
                }
                .container > .block3{
                    width: 90%;
                    height: auto;
                    flex-direction: column;
                    margin: 0 auto;
                    padding: 10px 0px;
                    justify-content: center;
                    align-items: center;
                }
                .container > .block1{
                    max-width: 100%;
                    height: auto;
                    
                }
                .container > .block2{
                    max-width: 100%;
                    height: auto;
                    
                }


                .big-block img {
                    height: 80px;
                }
                .big-block {
                    padding: 1vw 0px;
                    max-width: 100%;
                    padding-right: 1vw;
                }

                .mini-block {
                    height: 150px;
                    margin: 1.5vw auto;
                    padding: 2vw;
                }
                .mini-block img {
                    height: 70%;
                    width: 40%;
                }

                .big-block p {
                    margin: 1vw 0;
                    font-size: 0.9em;
                }
            }